nredis-proxy-spring/src/main/resources/META-INF/redisProxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.nredisproxy.com/redisProxy" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:beans="http://www.springframework.org/schema/beans"
	targetNamespace="http://www.nredisproxy.com/redisProxy"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	
	<xsd:element name="redisProxyCluster">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					
					<xsd:attribute name="host" type="xsd:string"
						use="required" />
					<xsd:attribute name="port" type="xsd:string"
						use="required" />
					<xsd:attribute name="timeout" type="xsd:string"
						use="required" />
					<xsd:attribute name="maxActiveConnection" type="xsd:string"
						use="required" />
					<xsd:attribute name="maxIdleConnection" type="xsd:string"
						use="required" />
					<xsd:attribute name="minConnection" type="xsd:string"
						use="required" />
					<xsd:attribute name="weight" type="xsd:string"
						use="required" />	
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="redisProxyMaster">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
					<xsd:sequence>
						<xsd:element ref="redisProxyCluster" maxOccurs="unbounded" minOccurs="0"/>
					</xsd:sequence>
					<xsd:attribute name="host" type="xsd:string"
						use="required" />
					<xsd:attribute name="port" type="xsd:string"
						use="required" />
					<xsd:attribute name="timeout" type="xsd:string"
						use="required" />
					<xsd:attribute name="maxActiveConnection" type="xsd:string"
						use="required" />
					<xsd:attribute name="maxIdleConnection" type="xsd:string"
						use="required" />
					<xsd:attribute name="minConnection" type="xsd:string"
						use="required" />	
					
					<xsd:attribute name="algorithm-ref" type="xsd:string"
						use="optional" />
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="redisProxyNode">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="beans:identifiedType">
				   <xsd:sequence>
						<xsd:element ref="redisProxyMaster" maxOccurs="unbounded" minOccurs="0"/>
					</xsd:sequence>
						
					<xsd:attribute name="redisProxyHost" type="xsd:string"
						use="required" />
					<xsd:attribute name="redisProxyPort" type="xsd:string"
						use="required" />
					<xsd:attribute name="algorithm-ref" type="xsd:string"
						use="required" />	
					<xsd:attribute name="address" type="xsd:string"
						use="required" />	
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>